<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    {% block styles %}{% endblock %}
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
           
            <a class="navbar-item" href="#">
                Person List
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('get_persons_route') }}">Persons</a>
                
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                {% if current_user.is_authenticated %}
                <div class="buttons">
                    <a href="{{ url_for('logout') }}" class="button is-primary">
                        Logout
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container" style="padding-top: 30px;">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    <footer class="footer" style="background: transparent;">
        <div class="content has-text-centered">
            <p>🛠️ by Tasos Temperekidis</p>
        </div>
    </footer>

    {% block scripts %}{% endblock %}


</body>
</html>
