<!DOCTYPE html>
<html>
  <head>
    <title>Edit Person</title>
  </head>
  <body>
    <form method="POST" action="{{ url_for('update_person_route', person_id=person.id) }}">
      {{ form.hidden_tag() }}
      {{ form.name.label }}: {{ form.name() }}
      {{ form.age.label }}: {{ form.age() }}
      {{ form.email.label }}: {{ form.email() }}
      {{ form.address.street_name.label }}: {{ form.address.street_name() }}
      {{ form.address.number.label }}: {{ form.address.number() }}
      {{ form.submit() }}
  </form>

  {% if form.name.errors %}
    <ul class="errors">
    {% for error in form.name.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
  </body>
</html>
