{% extends 'base.html' %}

{% block title %}List Persons{% endblock %}

{% block content %}
  <h1 class="title">List of Persons</h1> <a href="{{ url_for('create_person_route') }}" class="button is-primary">+</a>
  <ul class="box">
    {% for person in persons.items %}
    <li class="notification">
      <div class="columns is-mobile is-vcentered">
        <div class="column">{{ person.name }}</div>
        <div class="column">{{ person.age }}</div>
        <div class="column">{{ person.email }}</div>
        <div class="column">{{ person.address.street_name }}</div>
        <div class="column">{{ person.address.number }}</div>
        <div class="column">
          <form method="POST" action="{{ url_for('delete_person_route', person_id=person.id) }}">
            <input type="hidden" name="_method" value="DELETE">
            <button class="button is-danger" type="submit">Delete</button>
          </form>
        </div>
        <div class="column">
          <form method="POST" action="{{ url_for('delete_person_route', person_id=person.id) }}">
            <input type="hidden" name="_method" value="DELETE">
            <button class="button is-danger" type="submit">Delete</button>
          </form>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>

    
    <div class="pagination">
      {% if persons.has_prev %}
      <a href="{{ url_for('get_persons_route', page=persons.prev_num) }}">Previous</a>
      {% endif %}
      
      {% for page in persons.iter_pages() %}
        {% if page %}
          {% if page == persons.page %}
            <span class="current-page">{{ page }}</span>
          {% else %}
            <a href="{{ url_for('get_persons_route', page=page) }}">{{ page }}</a>
          {% endif %}
        {% else %}
          <span class="ellipsis">...</span>
        {% endif %}
      {% endfor %}
      
      {% if persons.has_next %}
      <a href="{{ url_for('get_persons_route', page=persons.next_num) }}">Next</a>
      {% endif %}
    </div>
    
{% endblock %}


