{% extends 'base.html' %}

{% block title %}List Persons{% endblock %}

{% block content %}
  <div class="columns is-vcentered">
    <div class="column">
      <h1 class="title">List of Persons</h1>
    </div>
    <div class="column is-narrow">
      <a href="{{ url_for('create_person_route') }}" class="button is-primary">Add</a>
    </div>
  </div>

  <form method="GET" action="{{ url_for('get_persons_route') }}">
    <div class="field is-grouped mt-4 mb-4">
      <p class="control">
        <input class="input" type="text" name="search" placeholder="Search by name or email" value="{{ search_query }}">
      </p>
      <p class="control">
        <button class="button is-primary" type="submit">Search</button>
      </p>
    </div>
  </form>
  
  {% if persons.items %}
  <ul class="box">
    {% for person in persons.items %}
      <li class="notification">
        <div class="columns is-mobile is-vcentered">
          <div class="column">{{ person.name }}</div>
          <div class="column">{{ person.age }}</div>
          <div class="column">{{ person.email }}</div>
          <div class="column">{{ person.address.street_name }}</div>
          <div class="column">{{ person.address.number }}</div>
          <div class="column has-text-right">
            <a href="{{ url_for('update_person_route', person_id=person.id) }}">
              <input type="hidden" name="_method" value="EDIT">
              <button class="button is-info" type="submit">Edit</button>
            </a>
          </div>
          <div class="column has-text-right">
            <form method="POST" action="{{ url_for('delete_person_route', person_id=person.id) }}">
              <input type="hidden" name="_method" value="DELETE">
              <button class="button is-danger" type="submit">Delete</button>
            </form>
          </div>
        </div>
      </li>
    {% endfor %}
    {% else %}
    <p>No persons available.</p>
    {% endif %}
  </ul>

  <div class="pagination mt-4 mb-4">
    {% if persons.has_prev %}
      <a class="pagination-previous" href="{{ url_for('get_persons_route', page=persons.prev_num) }}">Previous</a>
    {% endif %}

    <ul class="pagination-list">
      {% for page in persons.iter_pages() %}
        {% if page %}
          {% if page == persons.page %}
            <li><a class="pagination-link is-current">{{ page }}</a></li>
          {% else %}
            <li><a class="pagination-link" href="{{ url_for('get_persons_route', page=page) }}">{{ page }}</a></li>
          {% endif %}
        {% else %}
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% endif %}
      {% endfor %}
    </ul>

    {% if persons.has_next %}
      <a class="pagination-next" href="{{ url_for('get_persons_route', page=persons.next_num) }}">Next</a>
    {% endif %}
  </div>
{% endblock %}