<h1>List of Persons</h1><ul>
  {% for person in persons.items %}
  <li>{{ person.name }} - {{ person.age }} - {{person.email}} - {{person.address.street_name}} - {{person.address.number}}
    <form method="POST" action="{{ url_for('delete_person_route', person_id=person.id) }}">
       
        <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete</button>
  </form></li>
  {% endfor %}
</ul>

<div class="pagination">
  {% if persons.has_prev %}
  <a href="{{ url_for('get_persons_route', page=persons.prev_num) }}">Previous</a>
  {% endif %}
  
  {% for page in persons.iter_pages() %}
    {% if page %}
      {% if page == persons.page %}
        <span class="current-page">{{ page }}</span>
      {% else %}
        <a href="{{ url_for('get_persons_route', page=page) }}">{{ page }}</a>
      {% endif %}
    {% else %}
      <span class="ellipsis">...</span>
    {% endif %}
  {% endfor %}
  
  {% if persons.has_next %}
  <a href="{{ url_for('get_persons_route', page=persons.next_num) }}">Next</a>
  {% endif %}
</div>
